# This file should be copied to `.env` for customized settings
# It's also possible to set `.env.development` and `.env.production` files
# for specific settings on each mode

# Set to 'true' to display debug messages on the JS console
VITE_DEBUG=false

# Google Analytics code
VITE_ANALYTICS_UA=""

# Facebook app id (used in share button)
VITE_FACEBOOK_ID=""

# Base URL for JClic projects library, without ending '/'
VITE_REPO_BASE="/projects"

# Full URL to projects list
VITE_REPO_LIST="/projects/projects.json"

# Link to the JNLP JClic Installer
VITE_JNLP_INSTALLER="/jnlp/jclic/install.jnlp?argument=%%FILE%%"

# API entry point of the JClic repo search service
VITE_JCLIC_SEARCH_SERVICE="/db/repo-search/"

# Base URL for JClic user projects, without ending '/'
VITE_USERS_BASE="/users"

# Path to the repo page
VITE_REPO_PATH="/repo/index.html"

# Path to the user's library page
VITE_USERS_PATH="/users/index.html"

# Google OAuth2 API id
VITE_GOOGLE_OAUTH2_ID=""

# API base for user's library
VITE_USERLIB_API="https://clic.xtec.cat/db"

# Google Identity Services endpoint
VITE_GSI_API="https://accounts.google.com/gsi/client"

# Key used to store credentials in browser session
VITE_AUTH_KEY='__auth'

# Selected language. Leave empty for auto-detect
VITE_LANG=""

# Key used for the language query param on the URL
# For example, adding "?lang=en" to the current URL will display the interface in English
VITE_LANG_KEY="lang"

# Fallback language
VITE_LANG_DEFAULT="en"

# Absolute URL of the repository logo
VITE_LOGO="https://clic.xtec.cat/dist/jclic/jclic_48x48.png"

# Absolute URL of the main Twitter card
VITE_TWITTER_CARD="https://clic.xtec.cat/dist/jclic/jclic_48x48.png"

# Display the main title and/or subtitle
VITE_DISPLAY_TITLE=true
VITE_DISPLAY_SUBTITLE=true

# Display the "back to top" button when scrolling large lists of activities
VITE_DISPLAY_BACK_TO_TOP=true

# Comma separed list of fonts already loaded by the parent page
VITE_ALREADY_LOADED_FONTS=""

# Maximum number of parallel threads when downloading activities
VITE_MAX_THREADS=20

# Enable reporting to Koko Analytics WordPress plugin, if available
VITE_KOKO_ANALYTICS_ENABLED=false

# Integer to be added to JClic project ids to compute fake WP post ids when reporting to Koko Analytics
VITE_KOKO_ANALYTICS_BASE_ID=50000
